.pytest_cache
.DS_Store

/explorer_auto/csv/1行数据_player.csv
/explorer_auto/csv/1mb_player.csv
/explorer_auto/csv/1列_player.csv
/explorer_auto/csv/10mb_player.csv
/explorer_auto/csv/10列_player.csv
/explorer_auto/csv/10行数据_player.csv
/explorer_auto/csv/50mb_player.csv
/explorer_auto/csv/50列_player.csv
/explorer_auto/csv/100mb_player.csv
/explorer_auto/csv/上传多个文件1_player.csv
/explorer_auto/csv/上传多个文件2_player.csv
/explorer_auto/csv/上传多个文件3_player.csv
/explorer_auto/csv/特殊字符_中英文_长度_2%$%$^player.csv

500mb_player.csv

991_1G_player.csv

997_0m_player.csv

assets

report

Compression-testing

a.js

k6.exe

.reportreport.html